extends layout 

block content 
  .con-showcase
    .headers.flex.flx-spc-btn
      h1.header #{username}, you can take actions on your books!
      a(href="/actions/books/add") 
        .btn Add a book to collection

    .showcase
      h1.showcase-header Here are your collections
      .con-showcase-content
        .showcase-contents.flex
          .showcase-content.grids.grids-04
           each collection in collections
              .con-cards
                a(href=`/actions/books/book/${collection._id}`)
                  .card
                    img(src='/' alt='') 
                    div= collection.title