extends layout

block content
  .con-showcase
    h1.header Welcome home, #{username}&nbsp;!
    .showcase
      h1.showcase-header Here are your collections
      .con-showcase-content
        .showcase-contents.flex
          .showcase-content.grids.grids-04
            each collection in collections
              .con-cards
                a(href=`/books/${collection._id}`)
                  .card
                    img(src='/' alt='') 
                    div= collection.title